
/* Written by Tyler Filla */

* {
    outline: none !important;
    
    -webkit-focus-ring-color:    rgba(0, 0, 0, 0) !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body {
    -webkit-transform: translate3d(0, 0, 0);
}

#header {
    position: absolute;
    left:  0;
    top:   0;
    right: 0;
    
    height: 40px;
    
    padding-right: 16px;
    padding-top:   16px;
    
    color:       #C00000;
    font-size:   1.2em;
    line-height: 40px;
    text-align:  right;
    
    -webkit-user-select: none;
}

#content {
    position: absolute;
    bottom: 0;
    left:   0;
    right:  0;
    top:    50px;
    
    margin-left:  8px;
    margin-right: 8px;
}

#content #text {
    position: absolute;
    left:   0;
    right:  0;
    top:    0;
    
    width:  100%;
    
    font-size:   22px;
    line-height: 28px;
}

#content #lines {
    position: absolute;
    bottom: 0;
    left:   0;
    right:  0;
    top:    0;
    
    height: 100%;
    width:  100%;
    
    pointer-events: none;
}

#content #lines .line {
    height: 26px;
    width:  100%;
    
    margin-bottom: 1px;
    
    border-bottom: 1px solid #E5E3B9;
}
