
/* Written by Tyler Filla */

* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
	-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
	outline: none !important;
}

body {
	background: #FCF9B0;
}

#headerBar {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	
	width: 100%;
	height: 40px;
	
	color: #C00000;
	font-size: 1.2em;
	line-height: 40px;
	text-align: right;
}

#headerBar span {
	margin-right: 16px;
}

#editArea {
	position: absolute;
	left: 0px;
	top: 40px;
	right: 0px;
	bottom: 0px;
	
	margin-left: 8px;
	margin-right: 8px;
	
	font-size: 24px;
}

#editArea ul, ol, li {
	margin-top: 0px;
	margin-bottom: 0px;
}

#metricsElement {
	width: 100%;
	
	color: rgba(0, 0, 0, 0);
}
